<div class="customForm container" id="searchInput">
  <div class="row">
    <div class="col-12">
      <% time_string = params[:time].blank? ? " - today" : "#{ params[:time]}"%>

      <% if( params[:q] && !params[:q].blank? ) %>
        <h4><%="'#{params[:q]}'"%> events near <%= params[:location].split(',').first %><em><%=time_string%></em></h4>
      <% else %>
        <h4>Events near <%= params[:location].split(',').first %><em><%=time_string%></em></h4>
      <% end %>

      <button type="button" class="btn btn-secondary" id="toggleSearch">Edit</button>

      <button type="button" class="btn btn-secondary" id="showMapView">Map View</button>

      <button type="button" class="btn btn-secondary" id="showListView">List View</button>

    </div>

  </div>

</div>

<script type="text/javascript">

  // Start by hiding the list view button.
  $(document.getElementById('showListView')).toggle();

  document.getElementById('toggleSearch').onclick = function() {
    $(document.getElementById('searchForm')).toggle();
    $(document.getElementById('searchInput')).toggle();
  }

  document.getElementById('showMapView').onclick = function() {
    toggleResults();
  }

  document.getElementById('showListView').onclick = function() {
    toggleResults();
  }

  function toggleResults() {
    $(document.getElementById('mapView')).toggle();
    $(document.getElementById('eventsGrid')).toggle();
    $(document.getElementById('showMapView')).toggle();
    $(document.getElementById('showListView')).toggle();

    // The map and currentBounds should already be loaded from the initialization of the map...
    google.maps.event.trigger(map,'resize');
    map.fitBounds(mapBounds);
  }

</script>
