<div class="customForm container" id="searchInput">
  <div class="row">
    <div class="col-12">
      <% time_string = params[:time].blank? ? " - today" : "#{ params[:time]}"%>

      <% if( params[:q] && !params[:q].blank? ) %>
        <h4><%="'#{params[:q]}'"%> events near <%= params[:location].split(',').first %> <em><%=time_string%></em></h4>
      <% else %>
        <h4>Events near <%= params[:location].split(',').first %> <em><%=time_string%></em></h4>
      <% end %>

      <button type="button" class="btn btn-secondary toggle-search-form">Edit</button>

      <button type="button" class="btn btn-secondary toggle-results" id="showMapView">Map View</button>

      <button type="button" class="btn btn-secondary toggle-results" id="showListView">List View</button>

    </div>

  </div>

</div>
