<div class="center jumbotron" id="searchForm">
  <h1>Find events near you:</h1>

  <div id="event-search">
    <%= form_tag("/search", method: "get") do |f| %>
      <div class="form-group row">
        <div class="col-12">
          <%= text_field_tag :q, "", class: "form-control", type: "search", placeholder: "Your location", id: "autocomplete"%>
          <%= hidden_field_tag :lat, "", class: "form-control", id: "lat"%>
          <%= hidden_field_tag :lng, "", class: "form-control", id: "lng"%>
        </div>
      </div>

      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  var countryRestrict = {'country': 'us'};
  var autocomplete;

  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['(cities)'], componentRestrictions: countryRestrict});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', placeSelected);
  }


  function placeSelected() {
    var place = autocomplete.getPlace();
    var viewport = place.geometry.viewport;
    var center_lat = (viewport.f.b + viewport.f.f) / 2;
    var center_lng = (viewport.b.b + viewport.b.f) / 2;
    document.getElementById('lat').value = center_lat;
    document.getElementById('lng').value = center_lng;
  }
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_TOKEN']%>&libraries=places&callback=initAutocomplete"></script>
