<%= javascript_include_tag "search" %>

<div id="full">
  <%= render 'search/search_form' %>
  <%= render 'search/search_input' %>
  <%= render 'search/results_map' %>
  <%= render 'events/events_grid' %>
</div>
