<% event = locals[:event] %>
<% type = locals[:type] %>
<% json = event.to_json %>

<div class="event-widget <%="event-#{type}"%>" id="<%="event-#{type}-#{event['id']}"%>">

  <%= button_to event['rel_path'], method: :get, class: "event #{event['class']}" do %>
    <div class="container">
      <div class="row">
        <strong><%= event['name']%></strong>
      </div>

      <div class="row">
        <span><em><%= event['time'] %></em><%= " at #{event['venue']['name']}" if event['venue'] %></span>
      </div>

      <div class="row">
        <%= event['group']['name'] if event['group'] %>
      </div>
    </div>
  <% end %>

</div>
