<% event = locals[:event] %>
<% type = locals[:type] %>
<% group_id = event['group']['id'] %>
<% id = event['id'] %>
<% group_class = group_id % 5 %>
<% json = event.to_json %>

<div class="event-widget <%="event-#{type}"%>" id="<%="event-#{type}-#{id}"%>">

  <%= button_to event_path(event['group']['urlname'], event['id']), method: :get, class: "event group_type_#{group_class}" do %>
    <div class="container">
      <div class="row">
        <h5><%= event['name']%></h5>
      </div>
      <div class="row">
        <em><%= event['time'] %></em>
      </div>
      <div class="row">
        <strong><%= event['venue']['name'] if event['venue'] %></strong>
      </div>
      <div class="row">
        <%= event['group']['name'] if event['group'] %>
      </div>
    </div>
  <% end %>

</div>
