<% event = locals[:event] %>
<% type = locals[:type] %>
<% group_id = event['group']['id'] %>
<% id = event['id'] %>
<% group_class = group_id % 5 %>
<% json = event.to_json %>

<div class="event-widget <%="event-#{type}"%>" id="<%="event-#{type}-#{id}"%>">

  <%= button_to event_path(event['group']['urlname'], event['id']), method: :get, class: "event group_type_#{group_class}" do %>
    <div class="container">
      <div class="row">
        <strong><%= event['name']%></strong>
      </div>

      <div class="row">
        <span><em><%= event['time'] %></em><%= " at #{event['venue']['name']}" if event['venue'] %></span>
      </div>

      <div class="row">
        <%= event['group']['name'] if event['group'] %>
      </div>
    </div>
  <% end %>

</div>
