<div class="event-grid col-lg-6 col-sm-12">
  <% event = locals[:event] %>
  <% group_class =event['group']['id'] % 5 %>
  <% json = event.to_json %>

  <button class="event <%="group_type_#{group_class}"%>" data-toggle="modal" data-target="#eventDetailsModal" data-json="<%=json%>">
    <div class="container">
      <div class="row">
        <h3><%= event['name']%></h3>
      </div>
      <div class="row">
        <%= event['venue']['name'] if event['venue'] %>
      </div>
      <div class="row">
        <%= event['time'] %>
      </div>
      <div class="row">
        <%= event['group']['name'] if event['group'] %>
      </div>
    </div>
  </button>

</div>
