<div>
  <div class="row">
    <div class="col-12">
      <div class="event_banner_background">
        <div style="background-image: url(<%= @event['logo']['url'] if @event['logo']%>)" class="event_banner_image">
        </div>
        <p class="event_banner_label"><%= @event['name']%></p>
      </div>
    </div>
  </div>
  <div class="row bottom_border">
    <div class="col-md-9">
      <p><em><%= @event['time'] %></em> at <strong><%= @event['venue']['name'] if @event['venue'] %></strong></p>
    </div>
    <div class="col-md-3">
      <form action=<%=@event['url']%>>
        <input type="submit" type="button" class="btn eventbrite_button" id="viewOnEventbrite" value="View on Eventbrite"/>
      </form>
    </div>
  </div>
  <p><%= @event['description'].html_safe if @event['description'] %></p>
</div>
